.main{

}
.one{

}
#one{
    background: silver;
    border: 1px solid black;
    width: 5.33%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;  
}
#two{
    background: silver;
    border: 1px solid black;
    width: 5.33%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
}
#three{
    background: silver;
    border: 1px solid black;
    width: 5.33%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
}
#four{
    background: silver;
    border: 1px solid black;
    width: 5.33%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block; 
}
#five{
    background: silver;
    border: 1px solid black;
    width: 5.33%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block; 
}
#six{
    background: silver;
    border: 1px solid black;
    width: 5.33%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block; 
}
#seven{
    background: silver;
    border: 1px solid black;
    width: 5.33%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block; 
}
#eight{
    background: silver;
    border: 1px solid black;
    width: 5.33%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block; 
}
#nine{
    background: silver;
    border: 1px solid black;
    width: 5.33%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block; 
}
#ten{
    background: silver;
    border: 1px solid black;
    width: 5.33%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block; 
}
#eleven{
    background: silver;
    border: 1px solid black;
    width: 5.33%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block; 
}
#twelve{
    background: silver;
    border: 1px solid black;
    width: 5.33%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block; 
}
#a{
    background: silver;
    border: 1px solid black;
    width: 12%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;  
}
#b{
    background: silver;
    border: 1px solid black;
    width: 12%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block; 
}
#c{
    background: silver;
    border: 1px solid black;
    width: 12%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block; 
}
#d{
    background: silver;
    border: 1px solid black;
    width: 12%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block; 
}
#e{
    background: silver;
    border: 1px solid black;
    width: 12%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block; 
}
#f{
    background: silver;
    border: 1px solid black;
    width: 12%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block; 
}
#g{
    background: silver;
    border: 1px solid black;
    width: 18.70%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block; 
}
#h{
    background: silver;
    border: 1px solid black;
    width: 18.70%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block; 
}
#i{
    background: silver;
    border: 1px solid black;
    width: 18.70%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block; 
}
#j{
    background: silver;
    border: 1px solid black;
    width: 18.70%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block; 
}
#k{
    background: silver;
    border: 1px solid black;
    width: 25.40%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;    
}
#l{
    background: silver;
    border: 1px solid black;
    width: 25.40%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block; 
}
#m{
    background: silver;
    border: 1px solid black;
    width: 25.40%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block; 
}
#n{
    background: silver;
    border: 1px solid black;
    width: 39%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;   
}
#o{
    background: silver;
    border: 1px solid black;
    width: 39%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block; 
}
#p{
     background: silver;
    border: 1px solid black;
    width: 25.40%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block; 
}
#q{ 
    background: silver;
    border: 1px solid black;
    width: 52.33%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block; 
}
#r{
    background: silver;
    border: 1px solid black;
    width: 79.33%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block; 
}